<div class="flextest">
    <ng-container *ngFor="let product of products">
    <mat-card >
      <mat-card-header>
        <mat-card-title>
          <h3> <a routerLink="/product/{{product._id}}"> {{product.name | uppercase}}</a></h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src='{{ product.productImage }}'>
      <mat-card-content class="dashboard-card-content">
           {{ product.price | currency }} 
      </mat-card-content>
      <mat-card-actions >       
           <div  class="more">
          

          <button mat-raised-button 
                  class="cartbutton"
                  (click)="addToCart(product)">
            <mat-icon aria-label="Cart">shopping_cart</mat-icon>
            Add to Card
          </button>
      </div>
          
          
      </mat-card-actions>
    </mat-card>
  </ng-container>
  </div>