<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile colspan="2">
      <div style="width: 100%; margin-left: 22%; margin-right: 22%;">
          <img  src="../../../assets/images/awa.jpg">
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>


<div class="row">
  <div class="col">
      <img  src="../../../assets/images/wmn.jpg" routerLink="/products/men">
  </div>
  <div class="col">
      <img  src="../../../assets/images/mn.jpg" routerLink="/products/women">
  </div>
  <div class="col">
      <img  src="../../../assets/images/kds.jpg" routerLink="/products/kids">
  </div>
</div>
