
        <mat-sidenav-container class="sidenav-container">
          <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
            [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
            <mat-toolbar>
              <img src="../favicon.ico"> Menu </mat-toolbar>
            <mat-nav-list>
              <ul>
                <li><a mat-list-item routerLink="/products/men">Men's Shoes</a></li>
                <li><a mat-list-item routerLink="/products/women">Women's Shoes</a></li>
                <li><a mat-list-item routerLink="/products/kids">Kids' Shoes</a></li>
                <li *ngIf="isAdmin" style="background-color:cadetblue"><a mat-list-item routerLink="/panel">Admin Panel</a></li>
              </ul>
            </mat-nav-list>
          </mat-sidenav>
          <mat-sidenav-content>
            <mat-toolbar color="primary">
              <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
              </button>
              <a routerLink="/home" style="font-size: 24px"> Shoe-Shop</a>
              <span class="spacer"></span>
      
              <button mat-raised-button 
                *ngIf="!user.firstname; else elseBlock"
                class="toolbar-btn"
                routerLink="/login">Login/Sing Up
                <mat-icon aria-label="Profile">person</mat-icon>
              </button>

              <ng-template #elseBlock >
                  Welcome, {{user.firstname}}
      
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon aria-label="Profile">person</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/my-orders">My Orders</button>
                    <button mat-menu-item routerLink="/my-addresses">My Addresses</button>
                    <button mat-menu-item (click)="userLogout()">Logout</button>
                  </mat-menu>
      
                </ng-template>
      
      
              <button mat-icon-button routerLink="/cart">
                <mat-icon aria-label="Cart" [matBadge]="cartCount" matBadgeColor="warn">shopping_cart</mat-icon>
              </button>
            </mat-toolbar>
           
            <div class="bd">
              <router-outlet ></router-outlet>
            </div>
      
          </mat-sidenav-content>
        </mat-sidenav-container>
