




<mat-card>    
    <!-- Title of an Card -->    
    <mat-card-title>    
        <h2>Login</h2> 
        <img src="../../assets/images/prf.PNG" class="avatar">
        
    </mat-card-title>    
    
    <mat-card-content >    
        <form #loginForm="ngForm" class="form-group">    
            <table>    
                <tr>    
                    <td>    
                        <mat-form-field class="demo-full-width">    
                            <input matInput placeholder="Username" name="username" ngModel required>    
                        </mat-form-field>    
                    </td>  
                </tr>
                  <tr> 
                    <td>    
                        <mat-form-field class="demo-full-width">    
                            <input matInput type="password" placeholder="Password" name="password" ngModel required>    
                        </mat-form-field>    
                    </td>    
                </tr>                    
                <tr>  
                    <td colspan="2">    
    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="3" class="content-center">    
                        <button mat-raised-button type="submit" class="but1">Sign In</button>       
                        <button mat-raised-button (click)="goBack()" class="but2" >Back</button>  
                    </td>    
                </tr>  
                <tr>
                    You don't have an account? Click <a routerLink="/register">here</a> to sign up.
                </tr>  
            </table>    
        </form>    
    </mat-card-content>    
</mat-card>   
