.info-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    margin-top:8%;
    margin:1%;
  }

  textarea {
    border:none;
    resize: none;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
  }

  textarea:hover{
      overflow: auto;
  }

  .btn_cart {
    display: block;
    background-color: #680000;
  }

  .quantity {
    width: 20px;
    height: 20px;
    font-weight: bold;
    
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
